
---
import { cn } from '$lib/utils';

interface Props {
    sectionID: string;
}

const { sectionID } = Astro.props;
---

<section
    id={sectionID}
    class={cn(
        ['w-full', 'min-h-96', 'px-4'],
        ['md:py-10', 'md:max-w-[700px]', 'md:mx-auto'],
    )}
>
    <slot />
</section>
