---
import Layout from 'src/layouts/Layout.astro';
import { ContactSection } from 'src/sections/contact';
---

<Layout>
	<main class="px-6 pt-16 mb-28 text-center sm:px-8 md:pt-20 md:pb-10">
		<ContactSection client:idle />
	</main>
</Layout>
