---
import type { Multilingual } from '$lib/i18n/type';
import { cn } from '$lib/utils';
import type { TimelineType } from 'src/types/timeline';
import { Timeline } from './timeline';

interface Props {
    timelines: TimelineType[];
    ulClass?: string;
    liClass?: string;
    translate: (value: Multilingual) => string;
}

const { timelines, ulClass, liClass, translate } = Astro.props;
---

<ul
    class={cn(
        ['flex', 'flex-col', 'gap-y-14'],
        ['sm:gap-y-18'],
        ulClass,
    )}
>
    {timelines.map((timeline, _) => {
        return (
            <li class={cn(liClass)}>
                <Timeline timeline={timeline} translate={translate} />
            </li>
        );
    })}
</ul>
